@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-bg-color: #FF2156;
    --second-bg-color: #FFF;
    --main-light-font-color: #FFF;
    --main-bg-font-color: #FF2156;
}

.validation_message {
    font-size: 13px;
    font-style: italic;
    color: red;
}