@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .left-33 {
        left: 33.4%;
    }

    .w-webkit {
        width: -webkit-fill-available;
    }
}

:root {
    --main-bg-color: #FF2156;
    --second-bg-color: #FFF;
    --main-light-font-color: #FFF;
    --main-bg-font-color: #FF2156;
}

.validation_message {
    font-size: 13px;
    font-style: italic;
    color: red;
}

.text-5xl {
    font-size: 3rem;
    line-height: 1;
}

.primary-btn {
    color: var(--main-light-font-color);
    background-color: var(--main-bg-color);
}

.hover-primary-btn:hover {
    background-color: var(--main-light-font-color);
    color: var(--main-bg-color);
    border: 1px solid;
}

.primary-text-color {
    color: var(--main-bg-font-color);
}